#tableWrapperDiv{
    margin-top: 100px;
    padding: 40px 80px;
    background: #fffff6;
}

#table{
    width: 1200px;
    margin: 0 auto;
    font-size: 4rem;
    padding: 80px;
    border: solid  1px rgb(19, 112, 80);
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tableHeaderDE{
    width: 20%;
}

#tableHeaderKO{
    width: 20%;
}

#tableHeaderEX{
    width: 60%;
}

#tableHeaderDE, #tableHeaderKO, #tableHeaderEX{
    text-align: left;
    color: rgb(19, 112, 80);
}


td{
    font-size: 2rem;
    color: rgb(12, 172, 63);
}

ul, ul li{
    list-style-type: none;
    font-size: 2rem;
    color: rgb(23, 93, 168);
}

li{
    width: 200px;
}

td{
    border-left:  solid  1px rgb(19, 112, 80);
    padding-left: 10px;
    border-top:  solid  1px rgb(19, 112, 80);
}

tr td:nth-child(3){
    border-right:  solid  1px rgb(19, 112, 80)
}